*{
    margin: 0; 
    padding: 0;
    font-family: 'Poppina' , sans-serif;
    box-sizing: border-box;
}

body{
    background:#222;
}
.card{          /* class name olduğu için .card yazıp tasarlıyoruz */      
    width: 100%;
    max-width: 470px;
    background: linear-gradient(135deg, #7ef0fa,#0f1e94  );
    color: #fff;
    margin: 100px auto 0 ; /* sayfanın üstüne olan boşluk ve yanlarına olan boşluk  */
    border-radius: 30px;  /* kenarlarının oval olmasını sağlıyor */
    padding: 40px 35px;   /* cardın boyutları/ that will be space inside the card  */ 
    text-align: center;
}

.search{
    width: 100%;  /* search buttonun konumu */
    display: flex;   /* içindekileri yatay veya dikey hizalamana izin verir.*/
    align-items: center;   /* Dikeyde ortalar. */ 
    justify-content: space-between;  /* search bar ile arasındaki konumu ayarlar  */ 
}

.search input{        /* search classın içindeki inputu düzenleyecğiz */ 
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 20px;   /* search barın içindeki textin kenarlara olan uzunluğunu ayarlar  */ 
    height: 50px;     /* search barın yüksekliğini ayarlar  */ 
    border-radius: 30px; 
    flex: 1;    /* Bu eleman kalan alanın eşit parçasını alsın." */ 
    font-size: 17px; 
    margin-right: 16px;    /* elementin sağındaki boşluk miktarını tanımlar. margin-right sağa doğru olan boşluğu ifade eder,
                             değeri büyüdükçe sağdaki eleman senden daha uzaklaşır.*/             
}

.search button{     /* search classın içindeki buttonu düzenleyecğiz */
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;      /* fareyle o elementin üzerine geldiğinde imleç ok şeklinde değil el şeklinde olur.Genellikle tıklanabilir elemanlarda kullanılır*/
}

.search button img{
    width: 20px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 50px;
    font-weight: 500;
}

.weather h2 {
    font-size: 40px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity , .wind{
    font-size: 21px ;
    margin-top: -6px;
}

.weather{
    display: none;
     
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
